@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@100;200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;1,100&family=Roboto:wght@100&display=swap");

:root {
  --primary: #e97e05;
  --white: #fff;
  --dark: #000;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
